# ==============================================================
# 激励配置（参考文件）
# 用户配置自动存储于 incentive_config/{qq}.yaml
# ==============================================================

notifyGroup: 0
links:
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
  - ""
